@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.div-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
    height: 90px;
    position: absolute;
    top: 0;
    height: 140px;
}

header img {
    width: auto;
    height: 63px;
    margin-left: 20px;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#button-main-login {
    background-color: #fff;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Google Sans', sans-serif;
    border: 1px solid #1d1d1d;
    color: #000;
    transition: outline-offset 90ms ease, background-color 300ms ease;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 20px;
}

#button-main-login:hover {
    background-color: #98df76;
    color: #1d1d1d;
    outline: 2px solid #1d1d1d;
    outline-offset: 4px;
}

#button-main-download {
    background-color: #42417a;
    border: 1px solid #1d1d1d;
    border-radius: 10px;
    color: #f3f3f3;
    box-sizing: border-box;
    font-size: 15px;
    padding: 12px 25px;
    font-family: "Google Sans", sans-serif;
    font-weight: 600;
    transition: background-color 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-main-download img {
    width: 0;
    height: 0;
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
}

#button-main-download:hover {
    background-color: #30305a;
    outline: 2px solid #1d1d1d;
    outline-offset: 4px;
}

#button-main-download:hover img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

/* body */
.div-body>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.div-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #ffffffa5;
    background: linear-gradient(to bottom, #ffffffa5 90%, #ffffff74 90%);
    padding-top: 150px;
}

.div-body h1 {
    font-size: 43px;
    color: #000;
    text-align: center;
    width: 100%;
    font-weight: 900;
}

.div-body p {
    font-size: 18px;
    color: #555;
    text-align: center;
    width: 90%;
    text-align: center;
}

#button-main {
    background-color: #ffc353;
    border: 1px solid #1d1d1d;
    border-radius: 10px;
    color: #1d1d1d;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-family: "Google Sans", sans-serif;
    font-weight: 600;
    transition: outline-offset 90ms ease, background-color 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-body div {
    background-color: #fff;
    width: 70%;
    margin-bottom: 30px;
}

.div-body img {
    border-radius: 10px;
    width: 70%;
    height: auto;
}

#button-main:hover {
    background-color: #ffaf19;
    outline: 2px dashed #1d1d1d;
    outline-offset: 4px;
}

#div-iframe {
    width: 65%;
    min-height: 700px;
    position: relative;
    background-color: transparent;
    border: 1px solid none;
    margin-bottom: 75px;
    padding: 0;
}

#div-iframe > img {
    width: 30px;
    position: absolute;
    z-index: 100;
    top: 55px;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #000;
    padding: 5px;
    animation: floatUpDown 1.5s ease-in-out infinite;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}

iframe {
    width: 100%;
    min-height: 100%;
    border-radius: 10px;
    transform-origin: top center;
    border: none;
    margin: 0;
    padding: 0;
    border: 1px solid #1d1d1d2f;
}

#button-viewexample {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    color: #000000ad;
    font-family: "Google Sans", sans-serif;
    border-bottom: 1px solid transparent;
    font-weight: 800;
}

#button-viewexample:hover {
    color: #0051ca;
    border-bottom: 1px solid #0051ca;
}


/*responsive*/


@media (max-width: 950px) {
    #div-iframe {
        width: 90%;
        min-height: 600px;
    }
    #div-desktop-main {
        width: 10%;
    }

}

@media (max-width: 559px) {
    
    .div-body div {
        width: 95%;
    }

    #div-iframe {
        width: 90%;
        min-height: 500px;
    }
    
    header {
        height: auto;
        flex-direction: column;
        gap: 15px;
        padding: 20px 10px;
        padding-bottom: 45px;
    }

    .div-main {
        padding-top: 40px;
    }
}

/* lo siguiente */

#div-info-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #00000013;
    padding: 20px;
}

#div-info-main h3 {
    color: #000000e8;
    font-family: 'Google sans', sans-serif;
    font-size: 30px;
    margin: 10px;
    border-bottom: 1px dashed #000000e8;
}

#div-info-item {
    width: 80%;
    border-radius: 10px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    border: 1px solid #000;
    box-sizing: border-box;
    background-color: #0000001c;

}

#div-info-item img {
    width: 30%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
}

#div-right-info-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    box-sizing: border-box;
}

#div-right-info-item h5 {
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-align: left;
    font-family: 'Google Sans', sans-serif;
    margin-top: 20px;
}

#div-right-info-item p {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#div-info-main > button {
    width: 80%;
    height: 40px;
    background-color: #98df76;
    border: 1px solid #000;
    color: #000;
    font-family: 'Google Sans', sans-serif;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 400;
}

#div-info-main h4 {
    color: #000;
    font-family: 'Google Sans', sans-serif;
    font-size: 28px;
    top: 350px;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #0000007c;
}

#div-vendy-view-info {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    border: 1px solid #000;
    height: 85px;
    padding: 10px;
    border-radius: 10px;
}

#div-left-vendy-view-info {
    background-color: transparent;
    width: 150px;
    box-sizing: border-box;
}

#div-right-vendy-view-info {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#div-left-vendy-view-info button {
    background-color: #000;
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Google Sans', sans-serif;
    box-sizing: border-box;
}

#div-right-vendy-view-info img {
    width: auto;
    height: 100%;
}

#div-right-vendy-view-info div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
}

#div-right-vendy-view-info div h6 {
    color: #000;
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Google sans', sans-serif;
    margin-bottom: 3px;
}

#div-right-vendy-view-info div p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: left;
    font-family: 'Google sans', sans-serif;
    margin-bottom: 8px;
}

/*desktop*/

#div-desktop-main {
    width: 67%;
    background-color: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border: 1px solid #00000059;
}

#div-desktop-main .desktop-left {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    height: 100%;
}

#div-desktop-main .desktop-right {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#div-desktop-main .desktop-right img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid #000;
}

#div-desktop-main h3 {
    font-size: 44px;
    font-family: 'Google Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    text-align: left;
}

#div-desktop-main p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin: 0;
    text-align: left;
}

#div-desktop-main button {
    font-size: 20px;
    background-color: #1b1b1b;
    border: none;
    width: 350px;
    height: 50px;
    font-family: 'Google Sans', sans-serif;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border: 2px solid #969696;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

#div-desktop-main button img {
    width: 23px;
    height: 23px;
    margin: 0;
}

#div-desktop-main button:hover {
    outline: 3px solid #0077ff;
    outline-offset: 3px;
}

#div-desktop-main a {
    text-align: left;
    color: #0051ca;
    font-family: 'Google Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*info*/

#div-final-info {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    width: 50%;
    background-color: transparent;
}

#div-final-info img {
    width: 140px;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}

#div-final-info p {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

/*div iframe*/
#div-iframe button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    z-index: 100;
    background-color: #dcdcdc;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    right: 20px;
}

#div-iframe button img {
    width: 100%;
    height: auto;
}